@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	background-color: #171717;

	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
	padding-top: env(safe-area-inset-top);

	padding: 0;
	margin: 0;
	font-family: "Montserrat", sans-serif;

	&:before {
		content: "";
		content: "";
		width: 100%;
		height: 100vh;

		background-color: #171717;
		position: fixed;
		left: 0;
		top: 0;
		z-index: -1;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.text-shadow {
	text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}

.hero-bg {
	// background-color: #404040;
	// background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23383838' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23303030' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23272727' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%231f1f1f' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23171717' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
	// background-attachment: scroll;
	// background-size: cover;

	// background-color: #171717;
	// background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23151515' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
	background-color: #171717;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230F766E'/%3E%3Cstop offset='1' stop-color='%2384CC16'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(349,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='3.3'%3E%3Cpath d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='1.1' transform='' cx='500' cy='100' r='40'/%3E%3Cpath transform='' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='1'%3E%3Cpath transform='' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='2.2' transform='' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	background-attachment: scroll;
	background-size: cover;
}

.teal-hero-bg {
	background-color: #134e4a;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230F766E'/%3E%3Cstop offset='1' stop-color='%2384CC16'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(349,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='3.3'%3E%3Cpath d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='1.1' transform='' cx='500' cy='100' r='40'/%3E%3Cpath transform='' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='1'%3E%3Cpath transform='' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='2.2' transform='' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	background-attachment: scroll;
	background-size: cover;
}

.landing-section-bg {
	height: 100vh;
	background: linear-gradient(-45deg, rgba(229, 93, 135, .7), rgba(95, 195, 228, .7)), url(https://picsum.photos/g/2000/1200?image=443) center center / cover no-repeat;
}

.adjacent-post {
	& .arrow-btn {
		transition: width 300ms ease;
		width: 50px;
	}

	&:hover {
		& .arrow-btn {
			width: 60px;
		}
	}
}

// .infinite-scroll-component__outerdiv{
	// padding: 1px;
	// display: grid !important;
// }

.link-underline {
	border-bottom-width: 3;
	background-image: linear-gradient(transparent, transparent),
		linear-gradient(#fff, #fff);
	background-size: 0 3px;
	background-position: 0 100%;
	background-repeat: no-repeat;
	transition: background-size 0.5s ease-in-out;
	padding-bottom: 3px;
}

.link-underline-black {
	background-image: linear-gradient(transparent, transparent),
		linear-gradient( #7928ca, #0f766e);
}

.link-underline:hover {
	background-size: 100% 3px;
	background-position: 0 100%;
}

.paginationItemStyle {
	margin-left: 5px;

	.page-link {
		color: #fff;
	}

	&.page-item {
		&.active {
			button {
				background-color: rgb(186, 224, 48);
				border-color: green;
			}
		}
	}
}

.paginationLinkStyle {
	background-color: #b90000;
	border-radius: 5px;

	&:hover {
		background-color: #772e2e;
	}

	&:active {
		background-color: #772e2e;
	}
}

.react-multi-carousel-list {
	& .arrow-btn {
		transition: width 300ms ease;
		width: 50px;

		&:hover {
			width: 60px;
		}
	}
}

.MuiPaginationItem-text {
	color: #ffff;
}

.MuiDivider-root {
	color: #20b2aa;
}

.MuiDivider-root:hover {
	color: #2e8b57;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}


@keyframes animate023845 {
	to {
		transform: rotate(1turn);
	}
}

.layout {
    max-width: 80rem;
	margin-top:10px;
	margin-bottom: 10px;
    @apply mx-auto w-11/12;
}

.header-layout {
		max-width: 80rem;
		@apply mx-auto w-11/12;  
}

@layer components {
	.section-layout {
	//   @apply layout mx-auto lg:my-14 my-5 sm:px-2 xs:px-3 lg:px-5  text-slate-400;
	}
	.select2-search {
	  @apply border border-gray-300 rounded;
	}

  }

  #tsparticles{
	// position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}